<div class="card" style="width: 50%">
  <div class="card-body">
    <h5 class="card-title">Add Item</h5>

    <div class="mb-3 row">
      <label for="name" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10" #x>
        <input type="text" [(ngModel)]="name" class="form-control" id="name">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="price" class="col-sm-2 col-form-label">Price</label>
      <div class="col-sm-10">
        <input type="number" [(ngModel)]="price" class="form-control" id="price">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="active" class="col-sm-2 col-form-label">Is Active</label>
      <div class="col-sm-10">
        <input type="checkbox" [(ngModel)]="active" id="active">
      </div>
    </div>
    <div class="md-3 row">
      <button type="button" class="btn btn-success" (click)="add()">Add</button>
    </div>
  </div>
</div>
