<div class="card" style="width: 50%">
  <div class="card-body">
    <h5 class="card-title">Add Item</h5>

    <form #formRef="ngForm" (ngSubmit)="add($event)">
      <div class="mb-3 row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input
            type="text"
            required
            ngModel
            name="name"
            class="form-control"
            id="name">
          <div *ngIf="formRef?.form?.get('name')?.invalid">
            Please enter a name!
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="price" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
          <input type="number" ngModel name="price" class="form-control" id="price">
          <div *ngIf="formRef?.form?.get('price')?.invalid">
            Please enter a valid price!
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="active" class="col-sm-2 col-form-label">Is Active</label>
        <div class="col-sm-10">
          <input type="checkbox" ngModel name="active" [value]="true" disabled id="active">
        </div>
      </div>
      <div class="md-3 row">
        <button type="submit" class="btn btn-success" [disabled]="formRef.invalid">Add</button>
      </div>
    </form>
  </div>
</div>
